.card-input{
    border-radius: 10px;
    border:none;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    width: 500px;
    background-color: rgb(235, 235, 235);
}

.card{
    background-color: #fff;
    margin: 10px 100px;
    padding: 10px;
    border-radius: 20px;
}
.icon, .icons{
    display: flex;
    flex-direction: row;
}
.icons{
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 100px;
}
.icon p{
    margin: 0px;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.send-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    font-size: 30px;
    cursor: pointer;  
}

.card-header{
    display: flex;
    flex-direction: row;
    /* margin-top: 10px; */
}
.webcam{
    display: none;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.webcam video{
    width: 300px;
}

.webcam .capture{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.custom-file-input {
    color: transparent;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Attachment';
    color: black;
    display: inline-block;
    background: #fff;
    outline: none;
    white-space: nowrap !important;
    cursor: pointer;
    font-size: 16px;
    /* padding-top: 2px; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  }
  .custom-file-input{
      width: 90px;
  }