.post{
    background-color: #fff;
    margin: 10px 100px;
    padding: 10px;
    border-radius: 20px;
}

.avatar-border{
    border:2px solid palevioletred;
    border-style: solid;
    border-width: 3px;
}

.header{
    display: flex;
    flex-direction: row;
    position: relative;
}
.name{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.name small{
    font-size: 10px;
    color: rgb(116, 116, 116);
}

.post-options{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.post-options-menu{
    display: none;
    position: absolute;
    right: 0px;
    border: 2px solid purple;
    border-radius: 4px;
}

.post-options-menu .div{
    border: 2px solid purple;
    background-color: #fff;
}

.post-options-menu { div:hover {
    background-color: purple;
    color: #fff;
}
}

.post-content{
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
    margin:10px 30px;
}

.post-content p{
    margin: 0px;
}


@media screen and (max-width:600px){
    .post{
        margin:10px;
    }
    
}