.post{
    background-color: #fff;
    margin: 10px 100px;
    padding: 10px;
    border-radius: 20px;
}

.avatar-border{
    border:2px solid palevioletred;
    border-style: solid;
    border-width: 3px;
}

.header{
    display: flex;
    flex-direction: row;
}
.name{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.name small{
    font-size: 10px;
    color: rgb(116, 116, 116);
}

.post-content{
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
    margin:10px 30px;
}
