.sidenav {
  margin-top: 3px;
  height: 100%;
  width: 250px; 
  position: fixed;
  z-index: 1;
  top: 56px; 
  left: 0;
  background-color: #fff;
  overflow-x: hidden; 
}

.sidenav a {
  text-decoration: none;
  color: #000;
}
.sidenav a:hover {
  text-decoration: none;
  color: #fff;
}

#main {
  margin-top: 100px;
  margin-left: 250px;
  transition: margin-left 0.5s;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar-username{
    display: flex;
    flex-direction: row;
    padding: 10px 0px 10px 20px;
}

.avatar-username p{
    margin-left: 10px;
    font-weight: 500;
}

.recently-added{
  padding: 3px 10px 3px 25px;
}

.sidenav-item{
    display: flex;
    padding: 3px 10px 3px 25px;
    font-size: 18px;
    background-color: #fff;
    position: relative;
}

.sidenav-item:hover{
  cursor: pointer;
  background-color: purple;
  color: #fff;
}

 .sidenav-item .content{
    font-size: 12px;
    display: flex;
    flex-direction: row;
}
.sidenav-item .img  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidenav-item .count{
    position: absolute;
    margin:5px 0px 5px 80px;
    right: 20px;
}
.item-text{
    margin:5px 0px 5px 25px;
}

.button{
    border-radius: 10px;
    height: 30px;
    width: 200px;
    border:none;
    background-color: rgb(187, 187, 187);
    padding: 7px 0px;
    margin-left: 20px;
    margin-top: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.current-item, .current-item a{
  background-color: purple;
  color: #fff;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  /* .sidenav a {
    font-size: 18px;
  } */
}

@media screen and (max-width: 600px) {
  .sidenav {
    display: none;
  }
  #main{
    margin-left: 0px;
  }
}

@media screen and (min-width: 600px){
  .sidenav{
    display: block !important;
  }
}